page-riwayat {
    .headCard{
        font-size: 5vw;
        font-weight: 500;
        text-align: center;
        padding-bottom: 2vw !important;
    }

    .line1{
        padding-bottom: 2vw;
        border-bottom: 0.1vw $royalBlueSoft solid;
        text-align: center;
    }

    .StatusGreen{
        text-align: right;
        color: greenyellow;
        font-style: italic;
    }

    .info{
        text-align: center;
    }

    ion-col{
        margin: 0vw !important;
        padding: 1vw !important;
    }

}
