page-detail {
    .More{
        background-color: $royalBlue;
        color: white;
    }
    .Nama {
        text-align: center;
        color: #202020;
        // font-size: 18px;
        font-size: 6vw;
        font-weight: 5px;
    }
    
    .Head {
        margin-left: 4vw;
        font-size: 5vw;
        font-weight: 6px;
        color: #202020;
    }

    .Konten {
        margin-left: 4vw;
        font-size: 5vw;
        color: gray;
    }

    .Icon {
        padding-left: 5vw;
        font-size: 10vw;
        color: $royalBlueSoft;
    }
}
